.card {
    -fx-background-color: #ECDDD7;
    -fx-background-radius: 5px;
}

.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 5, 0, 0, 0);
}

.btn {
    -fx-background-color: linear-gradient(to bottom right, #AA705B, #714024);
    -fx-text-fill: #ffffff;
}

.btn:hover {
    -fx-background-color: linear-gradient(to bottom right, #AA705B, #714024);
    -fx-cursor: hand;
}