.gradient {
    -fx-background-color: linear-gradient(to bottom right, #AA705B, #714024);
}

.white-form {
    -fx-background-color: #ECDDD7;
}

.gradient Label {
    -fx-text-fill: #ECDDD7;
}

.header-label {
    -fx-border-color: #714024;
    -fx-border-width: 0 0 0 5px;
    -fx-padding: 0 0 0 5px;
    -fx-text-fill: #714024;
}

.login-btn {
    -fx-background-color: linear-gradient(to bottom right, #AA705B, #714024);
    -fx-text-fill: #ffffff;
    -fx-font-size: 16;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.login-btn:hover {
    -fx-background-color: linear-gradient(to bottom right, #AA705B, #714024);
}

.textfield {
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, #AA705B, #714024);
    -fx-border-width: 0.3px;
}

.textfield:focused {
    -fx-border-width: 1px;
    -fx-border-color: #714024;
}

.createAccountButton {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-text-fill: #ffffff;
    -fx-border-color: #ffffff;
    -fx-border-width: 1px;
}

.createAccountButton:hover {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000;
}
